.center {
    display: block;
    margin: auto;
}
.component-create-event-screen{
    
}

.orange {
    background-color: #FF6B12;
    position: fixed;
    height: 63px;
    width: 100%;
    left: 0%;
    top: 222px;
    overflow: auto;
}