
.component-account-screen {
    height: 100%;
    width: 100%;
    position: absolute;  
    background-image: url("Profile-01.png");
    background-size: cover; // fills image to screen
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}