@import url('https://fonts.googleapis.com/css?family=Cairo:300');
@import url('https://fonts.googleapis.com/css?family=Cairo:700');
@import url('https://fonts.googleapis.com/css?family=Marvel');

.button {
  background-color: #00CCB8;
  color: white;
}

// custom scss
body, html {
  background-color: #323E48;
  color: white;
  font-family: 'Cairo', sans-serif;
}

h1 {
  font-family: 'Marvel', sans-serif;
  text-transform: lowercase;
}

h2 {
  font-family: 'Cairo', sans-serif;
  text-transform: uppercase;
}

// pre-packaged scss
.App {
  text-align: center;
}

.App-header {
  background-color: #323E48;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
