a:link {
    text-decoration: none;
  }

.component-landing-screen{
        background-image: url("Landing-Screen-02.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center; 
}